# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore local development files
*.log
*.sqlite3

# ignore media files
media/